{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template paygw_payway/payment_processing_error

    Context variables required for this template:
    * intro: string
    * user: string
    * useremail: string
    * userid: int
    * item: string
    * details: array of objects containing label and value strings

    Example context (json):
    {
        "intro": "A payment requires review.",
        "user": "Student Example",
        "useremail": "student@example.com",
        "userid": 42,
        "item": "enrol_fee / fee / 12",
        "details": [
            {"label": "HTTP status", "value": "503"}
        ]
    }
}}
<p>{{intro}}</p>
<ul>
    <li>{{#str}} email:user, paygw_payway {{/str}}: {{user}} ({{useremail}}, id {{userid}})</li>
    <li>{{#str}} email:item, paygw_payway {{/str}}: {{item}}</li>
    {{#details}}
    <li>{{label}}: {{value}}</li>
    {{/details}}
</ul>